body{
    background-color:#030407 !important
    ;
    
}



.container-pagos{
    background-color: rgb(235, 235, 235);
    border-radius: 2%;
    float: right;
    margin-top: 10%;
    margin-left: 40%;
    
}

.mediosPago{
    display: flex;
}

.pagos{
    width: 100%;
    padding: 10px;
    
    
    /* float: left ; */
}
